.details-view-component {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 80vh;

  img {
    height: 70vh;
  }

  h2 {
    margin: 5px 0 5px 0;
  }

  .alignTextRight {
    text-align: right;
  }
  .horizontal-line {
    height: 3px;
    margin-top: 1rem;
    border-bottom: 1px solid black;
  }
}
