.partners {
  display: flex;
  justify-content: center;

  p {
    width: 34vw;
    line-height: 1.7;
    margin-top: 0;
  }

  .carousel {
    height: 70vh;
    width: 60vw;
    margin-right: 2vw;
  }
}

.alignTextRight > * {
  text-align: right;
}
