.text-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  height: 100%;
  grid-gap: 2.5%;
  margin: 40px;

  .info {
    margin-bottom: 40px;
  }
  h2 {
    margin: 5px 0 5px 0;
  }

  .alignTextRight {
    text-align: right;
  }
  .horizontal-line {
    height: 3px;
    margin-top: 1rem;
    border-bottom: 1px solid black;
  }
}
